.form__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  .form__label {
    margin-top: 10px;
    padding-left: 10px;
  }
  .form__control {
    border: 1px solid rgb(141, 135, 135);
    width: 100%;
    min-width: 300px;
    min-height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .form__control::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #bebebe;
  }

  .form__control:focus {
    border: 1px solid rgb(53, 53, 212);
  }
}
.form__item {
  .has__validation {
    .form__control {
      border-color: #dc3545;

      &:hover,
      &:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
      }
    }
  }
  .error__massage {
    margin-top: 4px;
    text-align: left;
    color: #dc3545;
  }
}
